<div class="container mb-5" id="tips">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="text-center">Free Football Tips Today</h2>

      <div class="day-select mb-3 mx-3">
        <h3 class="bg-success day-btn" id="today">TODAY</h3>
        <h3 class="bg-success day-btn" id="yesterday">YESTERDAY</h3>
        <h3 class="bg-success day-btn" id="tomorrow">TOMORROW</h3>
      </div>


      <style>
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <div class="row mx-3 tips-title tableTips today">
        <table>
          <thead>
            <tr>
              <th>Match</th>
              <th>Tip</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <% todayTipsp.forEach(function(item) { %>

              <tr>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Match %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Prediction %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Results %>
                </td>
              </tr>

              <% }) %>
          </tbody>
        </table>
      </div>

      <div class="row mx-3 tips-title tableTips yesterday">
        <table>
          <thead>
            <tr>
              <th>Match</th>
              <th>Tip</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <% yesterdayTipsp.forEach(function(item) { %>
              <tr>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Match %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Prediction %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Results %>
                </td>
              </tr>

              <% }) %>
          </tbody>
        </table>
      </div>

      <div class="tableTips tomorrow">
        <p>Tomorrow free Predictions are not ready. Please check later.</p>
      </div>
    </div>

    <div class="col-lg-6 mb-3">

      <h2 class="text-center">Lastest VIP Wins</h2>
      <!-- <div class="day-select">
        <h3 class="bg-success">TODAY</h3>
        <h3 class="bg-success">YESTERDAY</h3>
        <h3 class="bg-success">TOMORROW</h3>
      </div> -->

      <div class="row mx-3 tips-title tableTips latest-vip">
        <table>
          <thead>
            <tr>
              <th>Match</th>
              <th>Tip</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <% latestVipTipsp.forEach(function(item) { %>

              <tr>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Match %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Prediction %>
                </td>
                <td class="<%= item.win ? 'text-success' : '' %>">
                  <%= item.Results %>
                </td>
              </tr>

              <% }) %>
          </tbody>
        </table>
      </div>

      
    </div>

    </div>
  </div>
</div>

<script>
  $(".tableTips.yesterday").hide();
  $(".tableTips.tomorrow").hide();

  function showOne(day) {
    $(".tableTips").not(".latest-vip").fadeOut(250);
    $(`.tableTips.${day}`).fadeIn(250);
  }

  $(".day-btn").click(function () {
    showOne($(this).attr("id"));
  });

  $(document).ready(function () {
    // Récupérer la hauteur maximale des deux divs
    var maxHeight = Math.max($('.tableTips.yesterday').height(), $('.tableTips.today').height());
    

    // Appliquer la hauteur maximale aux deux divs
    $('.tableTips.yesterday, .tableTips.today, .tableTips.tomorrow').height(maxHeight);
    console.log('max height selected' + maxHeight);

  });
</script>
</div>